{% extends 'layout.html' %}

{% block content %}
    <h3 class="center">OT Tax Overview</h3>
    <br>

    <div class="container">
        <div class="totals">
            <table class="overview_table darken">
                <tr><th>Monthly goal</th><th>Donated</th><th>Remaining</th></tr>
                <tr><td>100.000.000 ISK</td><td>24.000.000 ISK</td><td>76.000.000 ISK</td></tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>

    </script>
    <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
{% endblock %}