<nav class="navbar navbar-dark bg-dark navbar-fixed-top sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-fixed-top sticky-top">
        <a class="navbar-brand d-none" href="#">
            {% if navbar_title %}
                {{navbar_title}}
            {% else %}
                Welcome To Flask
            {% endif%}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-fixed-top sticky-top" id="navbarText">
          <ul class="navbar-nav mr-auto navbar-fixed-top sticky-top">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('home_page') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user %}
              <li>
                <a class="nav-link pull-right" href="{{url_for('add_entry')}}">
                  Add entry
                </a>
              </li>
              <li>
                <a class="nav-link pull-right" href="{{url_for('add_goal')}}">
                  Add goal
                </a>
              </li>
              <li>
                <a class="nav-link pull-right" href="{{url_for('dump')}}">
                  Data-dump
                </a>
              </li>
              <li>&nbsp-&nbsp</li>
              <li><br></li>
              <li class="nav-item">
                <a class="nav-link pull-right" href="#">
                  {{user}}
                </a>
              </li>
              
              <li>
                <a class="nav-link pull-right" href="{{url_for('logout')}}">
                  Logout
                </a>
              </li>
            {% else %}
              <li>
                <a class="nav-link pull-right" href="{{url_for('login')}}">
                  Login
                </a>
              </li>
            {% endif %}
          </ul>
          <span class="navbar-text">
            
          </span>
        </div>
      </nav>
</nav>
  